@model Projet_ASP.Models.ProductCreateForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProductCreateForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prix" class="control-label"></label>
                <input asp-for="prix" class="form-control" />
                <span asp-validation-for="prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cri_eco" class="control-label"></label>
                <input asp-for="cri_eco" class="form-control" />
                <span asp-validation-for="cri_eco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Cat" class="control-label"></label>
                <input asp-for="Id_Cat" class="form-control" />
                <span asp-validation-for="Id_Cat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
